{% extends "base.html" %}

{% block content %}

<li class="col">
    <h1 class="m-3">{{title}}</h1>
    <form action="" method="post"  enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br/>
            {{ form.title(class="form-control", type="input") }}<br/>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="textarea") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control", type="input") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <div class="form-check">
            {{ form.is_featured(class="form-check-input", type="checkbox") }}
            {{ form.is_featured.label(class="form-check-label") }}

            {% for error in form.is_featured.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <p>
        <h4>Категории</h4>
            <ul class="list-group">
                {% for field in form.categories %}

                <li class="list-group-item pl-3">
                    <div class="form-check">
                {{ field(class="form-check-input", type="checkbox") }}
                {{ field.label(class="form-check-label") }}
                        </div>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            {{ form.image.label }}<br>
            {%if form.image.filename %}
                <img src="{{form.image.filename}}" style="max-width:50%;"/>
            {% endif %}
            {{ form.image(class="form-control", type="file") }}<br>
            {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
</div>

{% endblock %}