<link rel="stylesheet" href="{{ url_for('static', filename='css/comments.css') }}"/>
<script>
    function like(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
           if (this.readyState == 4 && this.status == 200) {
             document.getElementById("likes"+id).innerHTML =
                this.responseText;
           }
        };
        xhttp.open('POST', 'http://127.0.0.1:5000/comment_like/'+id, true);
        xhttp.send();

    }


</script>
<section class="content-item" id="comments">
    <div class="container">
       <div class="row">
            <div class="col-sm-8">


                <h3></h3>
                {% for comment in comments %}
                <!-- COMMENT - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object"
                                                       src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.user}}</h4>
                        <p>{{comment.text}}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{comment.date_str()}}</li>
                            <li id="likes{{comment.id}}"><i class="fa fa-thumbs-up"></i>{{comment.likes_count}}</li>
                        </ul>
                        <button onclick="like({{comment.id}})
                        ">like</button>

                    </div>
                </div>
                <!-- COMMENT - END -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>
