<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{news_image}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{news_title}}</h2>
            <p class="card-text">{{news_text}}</p>
            <a href="#" class="btn btn-primary">Подробнее:</a>
          </div>
          <div class="card-footer text-muted">
            Опубликованно {{news_date}}
          </div>
        </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
